.popup__container-info-tooltip {
  width: 100%;
  max-width: 430px;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .popup__container-info-tooltip {
    max-width: 280px;
  }
}
