.header__logo {
  max-width: 142px;
  min-height: 33px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    max-width: 104px;
    height: 24px;
  }
}
