.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  border: none;
  text-decoration: none;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.hover-link:hover {
  opacity: 0.6;
}
