.login__submit {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin: 186px auto 15px;
}

.login__submit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 700px) {
  .login__submit {
    height: 46px;
    margin: 143px auto 20px;
  }
}
