.popup__subtitle {
  max-width: 291px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
