.elements__list {
  display: grid;
  grid-template-columns: repeat(3, fit-content(282px));
  justify-content: center;
  gap: 20px 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .elements__list {
    grid-template-columns: repeat(2, fit-content(282px));
  }
}

@media screen and (max-width: 600px) {
  .elements__list {
    grid-template-columns: fit-content(282px);
  }
}
